.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-template-areas: "navbar main";
  padding: 6rem;
  min-height: 100vh;
}
.main div {
  grid-area: navbar;
  width: 300px;
  min-height: auto;
  border-radius: 5px;
}